<style>
    .mobile .dx-placeholder {
        left: 132px;
    }

    .name .dx-placeholder {
        left: 0 !important;
        text-align: center !important;
    }
</style>

<div class="box home" style="direction:rtl;text-align:right">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center" style="overflow:hidden !important">

        <!-- Avatar image in top left corner -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <a class="w3-bar-item w3-button w3-padding-large " style="padding: 20px 15px !important" data-ng-click="navigate2('/greeni1','greeni1',1)">
            <img src="img/g1.png" style="height:70px" />
            <img src="img/greeni1.png" style="width:100%" />

        </a>

        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 20px 15px !important" data-ng-click="navigate2('/greeni2','greeni2',1)">
            <img src="img/g2.png" style="height:70px" />

            <img src="img/greenimax2.png" style="width:100%" />
        </a>
        <a class="w3-bar-item w3-button w3-padding-large backcolor-transition basket menu-selected" style="padding: 16px 15px !important;position:relative;" data-ng-click="navigate2('/basket','basket',1)">
            <i class="fas fa-shopping-cart" style="font-size:40px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px">سبد خرید  </span>
            <div ng-show="isBasketNoVisible" class="basket-no">{{basketCount}}</div>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large backcolor-transition basket" style="padding: 16px 15px !important;position:relative;" data-ng-click="navigate2('/orders','orders',1)">
            <i class="fas fa-boxes" style="font-size:40px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px">سفارش ها  </span>

        </a>

       

        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 16px 15px !important">
            <i class="fas fa-pen-fancy" style="font-size:32px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block">وبلاگ</span>

        </a>

        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 16px 15px !important;">
            <i class="fas fa-info-circle" style="font-size:32px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px;">درباره ما</span>

        </a>





    </nav>



    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-48 w3-center w3-black" id="home" style="padding-top:20px !important">
            <!--<h1 class="w3-jumbo  hidden-xs"><span style="font-size:60px">GREEN<span style="color:red;font-style:italic;font-size:70px; font-weight:bold; padding:0px 6px 0px 0px">i</span>MAX</span></h1>
            <h1 class="w3-jumbo  hidden-lg hidden-md hidden-sm"><span style="font-size:40px">GREEN<span style="color:red;font-style:italic;font-size:50px; font-weight:bold; padding:0px 6px 0px 0px">i</span>MAX</span></h1>-->
            <h1 class="w3-jumbo  hidden-xs">سبد خرید</h1>
        </header>

        <div class="col-lg-12" style="padding:0 0px 0 20px;text-align:center">
            <table style="background:#3cb371;color:white;padding:0;width:100%;max-width:800px;border:1px solid #3cb371;margin:0 auto 0 auto;display:none" class="info">
                <thead>
                    <tr>
                        <th style="width:50px"></th>

                        <th style="text-align:right;padding:12px 10px 12px 10px" colspan="2">محصول</th>

                        <th style="width:100px;text-align:center;padding:12px 10px 12px 10px">تعداد</th>
                        <th style="width:150px;text-align:center;padding:12px 10px 12px 10px">تخفیف (درصد)</th>
                        <th style="width:200px;text-align:center;padding:12px 10px 12px 10px">قیمت (تومان)</th>

                    </tr>
                </thead>
                <tbody>
                    <tr></tr>

                    <tr ng-repeat='item in dataSource'>



                        <td style="background-color:black;width:50px;text-align:center;padding:12px 10px 12px 10px">
                            <a ng-click="remove(item.id)" href="" class="w3-bar-item w3-button w3-padding-large remove" style="padding: 5px 5px !important">
                                <i class="fas fa-minus-circle" style="font-size:32px;color:#a6001a"></i>

                            </a>

                        </td>


                        <td style="background-color:black;text-align:right;padding:12px 10px 12px 10px" colspan="2">{{item.name}}</td>

                        <td style="background-color:black;width:100px;text-align:center;padding:12px 10px 12px 10px">{{item.total}}</td>
                        <td style="background-color:black;width:150px;text-align:center;padding:12px 10px 12px 10px">{{item.discount}}</td>
                        <td style="background-color:black;width:200px;text-align:center;padding:12px 10px 12px 10px">{{item.total_price}}</td>
                    </tr>



                </tbody>
                <tfoot>
                    <tr style="border-top:1px solid #3cb371;">
                        <td colspan="4" style="background-color:black;"></td>
                        <td style="background-color:black;width:100px;text-align:center;padding:12px 10px 12px 10px">جمع کل</td>
                        <td style="background-color:black;width:200px;text-align:center;padding:12px 10px 12px 10px;font-size:16px">{{invoice_price}}</td>

                    </tr>
                </tfoot>

            </table>
            <div class="w3-content w3-justify w3-text-grey info" style="text-align:center !important;margin-top:40px;display:none">
                <div style="width:350px;margin:0px auto 0 auto;display:inline-block;padding:0px 0 0 0">
                    <div dx-text-box="txt_name" class="center name" style="background:white"></div>
                </div>
                <div></div>
                <div style="width:350px;margin:20px auto 0 auto;display:inline-block;padding:0px 0 0 0">
                    <div dx-number-box="num_mobile" class="center mobile" style="background:white"></div>
                </div>
                <a class="button" href="" ng-click="confirm_order()" style="overflow:hidden;display:block;width:350px;margin:20px auto 0 auto;border-radius:3px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">
                    <span>تایید سفارش</span>
                    <i class="far fa-check-circle" style="font-size:24px;position:absolute;top:10px;right:26px"></i>
                </a>
            </div>
            <div class="w3-content w3-justify w3-text-grey confirmed" style="text-align:center !important;margin-top:40px;display:none">
                <p style="color:white;font-size:18px;max-width:600px;margin:0 auto 0 auto;line-height:40px">
                    سفارش شما با شماره
                    {{orderNo}}
                    ثبت شده است. به زودی کارشناسان بخش فروش ما با شما برای پیگیری تماس خواهند گرفت.
                    از خرید شما متشکریم
                </p>
                <a class="button" href="" ng-click="confirm_order()" style="overflow:hidden;display:block;width:350px;margin:20px auto 0 auto;border-radius:3px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">
                    <span>پیگیری سفارش ها</span>
                    <i class="fas fa-boxes" style="font-size:24px;position:absolute;top:10px;right:26px"></i>
                </a>
            </div>
            <div class="w3-content w3-justify w3-text-grey signin" style="text-align:center !important;margin-top:40px;display:none">
                <p style="color:white;font-size:18px;max-width:600px;margin:0 auto 0 auto;line-height:40px">
                    برای تایید سفارش لطفا وارد حساب کاربری خود شوید.
                </p>
            </div>
            <div class="w3-content w3-justify w3-text-grey empty" style="text-align:center !important;margin-top:40px;display:none">
                <p style="color:white;font-size:18px;max-width:600px;margin:0 auto 0 auto;line-height:40px">
                    در حال حاضر سبد خرید شما خالی است.
                </p>
                <a class="button" href="" ng-click="confirm_order()" style="overflow:hidden;display:block;width:350px;margin:20px auto 0 auto;border-radius:3px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">
                    <span>پیگیری سفارش ها</span>
                    <i class="fas fa-boxes" style="font-size:24px;position:absolute;top:10px;right:26px"></i>
                </a>
            </div>

        </div>
        <div style="clear:both"></div>





    </div>

    <div dx-load-panel="loadPanel"></div>

</div>

<div class="navbar w3-hide-large  " style="border-bottom:#3cb371 2px solid;border-top:#3cb371 2px solid;padding:7px 0 7px 0">
    <table style="width:100%">
        <tr>
            <td style="text-align:center;width:22%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/greeni1','greeni1',1)">
                    <img src="img/g1.png" style="height:40px" />
                </a>
            </td>
            <td style="text-align:center;width:22%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/greeni2','greeni1',1)">
                    <img src="img/g2.png" style="height:40px" />
                </a>
            </td>


            <td style="text-align:center;width:20%" data-ng-click="navigate2('/basket','basket',1)">
                <a style="padding: 0px 0px !important;">
                    <i class="fas fa-shopping-cart" style="font-size:24px;color:white"></i>
                </a>
            </td>


            <td style="text-align:center;width:18%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/orders','orders',1)">
                    <i class="fas fa-pen-fancy" style="font-size:24px;color:white"></i>
                </a>
            </td>
            <td style="text-align:center;width:18%">
                <a style="padding: 0px 0px !important;">
                    <i class="fas fa-info-circle" style="font-size:24px;color:white"></i>


                </a>
            </td>
        </tr>

    </table>
</div>
