﻿
<style>

    .mobile .dx-placeholder {
        left: 132px;
    }

    .name .dx-placeholder {
        left: 0 !important;
        text-align: center !important;
    }
    .distbl {
        background: black;
        color: white;
    }

        .distbl tr {
            border: 1px solid #eee;
            line-height: 30px;
        }

            .distbl tr td {
                border: 1px solid #eee;
            }
</style>

<div class="box home" style="direction:rtl;text-align:right">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-hide-medium w3-center" style="overflow:hidden !important">
        <!-- Avatar image in top left corner -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <a class="w3-bar-item w3-button w3-padding-large menu-selected" style="padding: 20px 15px !important" data-ng-click="navigate2('/greeni1','greeni1',1)">
            <img src="img/g1.png" style="height:70px" />
            <img src="img/greeni1.png" style="width:100%" />
        </a>
        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 20px 15px !important" data-ng-click="navigate2('/greeni2','greeni2',1)">
            <img src="img/g2.png" style="height:70px" />
            <img src="img/greenimax2.png" style="width:100%" />
        </a>
        <a class="w3-bar-item w3-button w3-padding-large backcolor-transition basket" style="padding: 16px 15px !important;position:relative;" data-ng-click="navigate2('/basket','basket',1)">
            <i class="fas fa-shopping-cart" style="font-size:40px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px">سبد خرید  </span>
            <div ng-show="isBasketNoVisible" class="basket-no">{{basketCount}}</div>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large backcolor-transition basket" style="padding: 16px 15px !important;position:relative;" data-ng-click="navigate2('/orders','orders',1)">
            <i class="fas fa-boxes" style="font-size:40px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px">سفارش ها  </span>
        </a>

        <!--<a class="w3-bar-item w3-button w3-padding-large" style="padding: 16px 15px !important">
            <i class="fas fa-file-alt" style="font-size:32px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block">مجوز ها  </span>

        </a>-->
        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 16px 15px !important">
            <i class="fas fa-pen-fancy" style="font-size:32px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block">وبلاگ</span>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large" style="padding: 16px 15px !important;" data-ng-click="navigate2('/about','about',1)">
            <i class="fas fa-info-circle" style="font-size:32px;color:white"></i>
            <span style="font-size:13px;color:white;font-weight:bold;display:block;margin-top:5px;">درباره ما</span>
        </a>


    </nav>


    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-48 w3-center w3-black" id="home" style="padding-top:20px !important">
            <!--mobile-->
            <img src="../../img/greenimax2.png" style="display:block;margin:0 auto 20px auto; width:400px; " class="w3-hide-small" />
            <img src="../../img/greenimax2.png" style="display:block;margin:0 auto 20px auto; width:250px; " class="w3-hide-large" />
            <!--<img src="https://www.w3schools.com/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108">-->
            <img src="../../img/g2.png" alt="boy" class="w3-image" style="width: 400px;  height: auto" data-aos="zoom-in" data-aos-duration="500">
        </header>
        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey" id="about" data-aos="fade-up">
            <div style="color: white ; font-size: 20px;padding: 0 0 10px 0; margin-bottom: 20px; font-weight: bold; border-bottom: 1px solid white">
                کود مایع گیاهان آپارتمانی گلدار
            </div>
            <div class="col-lg-8" data-aos-duration="1500" style="padding:5px;">
                <video loop="" playsinline="" autoplay>

                    <source src="content/video/greenivideo.mp4"
                            type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>
            <div class="col-lg-4" style="padding:5px">
                <table style="background:#3cb371;color:white;padding:0;width:100%;border:1px solid #3cb371">
                    <thead>
                        <tr>
                            <th style="text-align:right;padding:12px 10px 12px 10px" colspan="2">جدول تجزیه ضمانت شده</th>
                            <!-- <th style="text-align:center;width:60px;padding:8px 10px 8px 10px"></th>-->
                            <th style="width:80px;text-align:center;padding:12px 10px 12px 10px">وزن-حجم</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:9px 10px 9px 10px">نیتروژن</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">3</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:8px 10px 8px 10px">فسفر</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">1</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:8px 10px 8px 10px">پتاسیم</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">4</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:9px 10px 9px 10px">آهن</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">0.06</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:9px 10px 9px 10px">اسید هیومیک</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">0.2</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:9px 10px 9px 10px">جلبک دریایی</td>
                            <td style="text-align:center;width:60px;padding:8px 10px 8px 10px;background-color:black">0.5</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">%</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;background-color:black;padding:12px 10px 12px 10px">چگالی</td>
                            <td style="text-align:center;width:70px;padding:8px 10px 8px 10px;background-color:black">1</td>
                            <td style="width:80px;text-align:center;padding:8px 10px 8px 10px;background-color:black">g/cm3</td>
                        </tr>
                        <tr style="height:43px">
                            <td style="text-align:right;background-color:black;padding:10px 10px 12px 10px">pH</td>
                            <td style="text-align:center;width:60px;padding:10px;background-color:black">3.3</td>
                            <td style="width:80px;text-align:center;padding:10px;background-color:black"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="w3-padding-32 w3-content w3-text-grey ep-section" id="video" style="text-align:right">
            <div style="padding:0;">
                <p dir="rtl" style="color:white;padding:0 0 0 0px;line-height:30px" data-aos="fade-up">
                    گرینی مکس 2   کود مایع با ترکیب مناسب برای گیاهان آپارتمانی گلدار نظیر شمعدانی ، ختمی ، رز ، شب بو، اطلسی و غیره تهیه شده است. این محصول تامین کننده عناصر غذایی شامل نیتروژن، فسفر، پتاسیم وآهن   بوده که برای رشد و نمو گیاه ضروریست .
                    همچنین وجود اسید هیومیک و جلبک دریایی در این محصول باعث غنی تر شدن آن از نظر غذایی شده است.مصرف این کود همراه با آب آبیاری حجم ریشه های موئین ، فعالیت فتو سنتزی و تولید گل در گیاه را افزایش میدهد. این محصول به طور اختصاصی برای گیاهان گلدار ساخته شده است.

                    <div style="color: white ; font-size: 16px;padding: 5px 0 10px 15px;  font-weight: bold; text-align:left" data-aos="fade-up">
                        شماره ثبت کود: 40913
                    </div>
                </p>
                <div style="color:white ; font-size: 18px;padding: 10px 0 10px 0; margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid gray" data-aos="fade-up">
                    مزایا
                </div>
                <ul style="color:white;line-height:30px" data-aos="fade-up">
                    <li>ریشه دهی سریع گیاه</li>
                    <li>تحریک رشد و سبزینه گیاه</li>
                    <li>افزایش ظرفیت تبادل کاتیونی (CEC) خاک گلدان</li>
                    <li>کمک به مقابله با شوک ناگهانی از جابجایی گیاه و تعویض گلدان</li>
                    <li>بهبود سلامت رشد گیاه</li>
                </ul>
            </div>
        </div>
        <div class="w3-content w3-justify w3-text-grey" id="about" data-aos="fade-up">
            <div style="color: white ; font-size: 20px;padding: 0 0 10px 0; margin-bottom: 10px; font-weight: bold; border-bottom: 1px solid white">
                دستورالعمل مصرف
            </div>
            <p dir="rtl" style="color:white;padding:0 0 0 0px;line-height:30px" data-aos="fade-up">
                این کود تنها قابلیت جذب از طریق ریشه را دارد. بدین منظور 5 میلی لیتر (سی سی) از آن را در یک لیتر آب حل نموده (پنج در هزار) و گیاهان را با آن آبیاری نمایید. این کار را در فصل بهار و تابستان هر هفته یک بار تکرار نمایید.
            </p>
        </div>
        <div class="w3-content w3-justify w3-text-grey" id="about" data-aos="fade-up" style="text-align:center !important">
            <div style="text-align:center;color: white ; font-size: 20px;padding: 40px 0 10px 0; margin-bottom: 30px; font-weight: bold; border-bottom: 1px solid white">
                با ما همراه باشید
            </div>
            <!-- <input placeholder="نام" class="input" style="width:350px;margin:0 auto 0 auto;display:block" />-->
            <div style="width:100%;max-width:350px;margin:0px auto 0 auto;display:inline-block;padding:0px 0 0 0;">
                <div dx-text-box="txt_name" class="center name" style="background:white"></div>
            </div>
            <div></div>
            <div style="width:100%;max-width:350px;margin:20px auto 0 auto;display:inline-block;padding:0px 0 0 0">
                <div dx-number-box="num_mobile" class="center mobile" style="background:white"></div>
            </div>
            <a class="button" href="" ng-click="subscribe()" style="width:100%;max-width:350px;overflow:hidden;display:block; margin:20px auto 0 auto;border-radius:3px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">
                <span>اشتراک در خبرنامه</span>
                <i class="fas fa-rss" style="font-size:24px;position:absolute;top:10px;right:26px"></i>
            </a>
            <div style="text-align:center;color: white ; font-size: 20px;padding: 40px 0 10px 0; margin-bottom: 30px; font-weight: bold; border-bottom: 1px solid white">
                سفارش دهید
            </div>
            <table style="width:100%;margin:0px 0 20px 0" class="distbl" ng-show="role=='Company'">
                <thead>
                    <tr>
                        <td colspan="8" style="background:#3cb371;">درصد تخفیف بر اساس کارتن فروش</td>
                    </tr>
                    <tr>
                        <td style="background:#3cb371">کارتن</td>
                        <td>5</td>
                        <td>10</td>
                        <td>15</td>
                        <td>20</td>
                        <td>25</td>
                        <td>30</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td style="background:#3cb371">تعداد</td>
                        <td>120</td>
                        <td>240</td>
                        <td>360</td>
                        <td>480</td>
                        <td>600</td>
                        <td>720</td>
                        <td>840</td>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td style="background:#3cb371">درصد تخفیف</td>
                        <td>10</td>
                        <td>10.8</td>
                        <td>11.6</td>
                        <td>12.4</td>
                        <td>13.2</td>
                        <td>14</td>
                        <td>14.8</td>
                    </tr>
                </tbody>
            </table>
            <div style="width:100%;max-width:350px;margin:0 auto 0 auto;display:inline-block;padding:0px 0 0 0">
                <div dx-number-box="num_order" class="center" style="background:white"></div>
                <p style="margin-top:10px;color:white;" ng-show="role=='Company'">{{disHint}}</p>
            </div>
            <a class="button" href="" ng-click="addToBasket()" style="width:100%;max-width:350px;overflow:hidden;display:block; margin:20px auto 0 auto;border-radius:3px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">
                <span>افزودن به سبد خرید</span>
                <i class="fas fa-shopping-cart" style="font-size:24px;position:absolute;top:10px;right:26px"></i>
            </a>
        </div>
        <!-- Footer -->
        <footer class="w3-content w3-padding-16 w3-text-grey w3-xlarge" style="border-top:1px solid gray;margin-top:20px;margin-bottom:30px;text-align:center">
            <i class="fab fa-telegram-plane" style="font-size:30px;padding-left:6px"></i>
            <a href="https://www.instagram.com/greenimax/"><i class="fab fa-instagram" style="font-size:30px;padding-left:6px"></i></a>
            <i class="fab fa-whatsapp" style="font-size:30px"></i>
        </footer>

    </div>


</div>
<div class="navbar w3-hide-large  " style="border-bottom:#3cb371 2px solid;border-top:#3cb371 2px solid;padding:7px 0 7px 0">
    <table style="width:100%">
        <tr>
            <td style="text-align:center;width:22%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/greeni1','greeni1',1)">
                    <img src="img/g1.png" style="height:40px" />
                </a>
            </td>
            <td style="text-align:center;width:22%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/greeni2','greeni1',1)">
                    <img src="img/g2.png" style="height:40px" />
                </a>
            </td>

            <td style="text-align:center;width:20%" data-ng-click="navigate2('/basket','basket',1)">
                <a style="padding: 0px 0px !important;">
                    <i class="fas fa-shopping-cart" style="font-size:24px;color:white"></i>
                </a>
            </td>

            <td style="text-align:center;width:18%">
                <a style="padding: 0px 0px !important;" data-ng-click="navigate2('/orders','orders',1)">
                    <i class="fas fa-pen-fancy" style="font-size:24px;color:white"></i>
                </a>
            </td>
            <td style="text-align:center;width:18%" data-ng-click="navigate2('/about','about',1)">
                <a style="padding: 0px 0px !important;">
                    <i class="fas fa-info-circle" style="font-size:24px;color:white"></i>

                </a>
            </td>
        </tr>
    </table>
</div>