﻿
<style>


    @media (min-width:756px) {
        .Table {
            color: white;
            padding: 60px 190px 10px 0px;
            float: right;
            text-align: justify;
            width: 600px;
        }

        .AboutText {
            color: white;
            font-size: 16px;
            padding: 90px 190px 3px 0px;
            font-weight: bold;
            float: right;
            text-align: justify;
            width: 600px
        }

        .mainImage {
            width: 53%;
            height: auto;
            float: left;
            padding: 40px 0px 5px 10px
        }

        .sidebar {
            display: none
        }

        #mainNav {
            display: none
        }
    }

    @media (max-width:756px) {
        .bigNav {
            display: none
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

            .openbtn:hover {
                background-color: #444;
            }

        #mainNav {
            transition: margin-right .5s;
            padding: 16px;
            background-color: #000;
            float: right;
        }

        .mainImage {
            width: 100%;
            height: auto
        }
    }
</style>



<div class="box home" style="direction:rtl;text-align:center">
    <!-- Page Content -->
    <div class="w3-padding-large">
        <!-- Header/Home -->
        <p dir="rtl" style="text-align:center;font-size:20px;margin-top:40px">
            این سایت مطابق قوانین مرتبط با تجارت الکترونیک و کسب و کارهای اینترنتی جمهوری اسلامی ایران فعالیت می کند
        </p>

        <p style="text-align:center;font-size:50px">
            <a href="https://enamad.ir/Laws" target="_blank">
                قوانین کسب و کارهای اینترنتی
            </a>
        </p>
    </div>
</div>





