<style>
    .table1 {
        background: rgb(166, 166, 166);
        color: black;
        padding: 0px;
        width: 100%;
        max-width: 900px;
        border: 1px solid rgb(166, 166, 166);
        margin: 0px auto;
    }

    .tb_cell {
        background-color: white;
        padding: 12px 10px 12px 10px
    }

    .main {
        background-color: white !important;
    }

    .w3-black {
        background-color: white !important
    }

    @media (min-width:756px) {
        .Table {
            color: white;
            padding: 60px 190px 10px 0px;
            float: right;
            text-align: justify;
            width: 600px;
        }

        .AboutText {
            color: white;
            font-size: 16px;
            padding: 90px 190px 3px 0px;
            font-weight: bold;
            float: right;
            text-align: justify;
            width: 600px
        }

        .mainImage {
            width: 53%;
            height: auto;
            float: left;
            padding: 40px 0px 5px 10px
        }

        .sidebar {
            display: none
        }

        #main {
            display: none
        }
    }

    @media (max-width:756px) {
        .bigNav {
            display: none
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

            .openbtn:hover {
                background-color: #444;
            }

        #main {
            transition: margin-right .5s;
            padding: 40px 20px 0px 0px;
            background-color: #000;
            float: right;
            margin-top: -20px
        }

        .mainImage {
            width: 100%;
            height: auto
        }
    }
</style>

<div style="color:black; border:1px solid #ccc;padding:10px 20px 30px 10px;max-width:900px;margin :20px auto 0 auto">
    <table class="table1" style="width:100%;background:white;border:none;">
        <tr>
            <td rowspan="2" style="width:115px">
                <img src="img/roshd.png" style="width:100%" />
            </td>

        </tr>
        <tr>
            <td>
                <div style="padding-top:15px;font-size:16px;font-weight:bold">شرکت تعاونی رشد رهنمون طوس</div>
                <div style="padding-top:5px;">خراسان رضوی مشهد بلوار پیروزی خیابان فرخی جنوبی ۱۸ پلاک ۱۰۰</div>
                <div style="padding-top:5px;font-size:15px;">051-33409117</div>
            </td>
            <td style="width:150px;text-align:left" rowspan="2">
                <div style="font-size:16px;">{{order.invoiceDate}}</div>
                <div style="direction:ltr;font-size:16px;padding-top:5px;">#IN{{order.Id}}</div>
            </td>

        </tr>
    </table>
    <div style="border-bottom:1px solid #ccc;margin-top:5px;"></div>
    <table class="table1" style="width:100%;background:white;border:none; margin-top:15px ">
        <tr style="background:#ccc;border :1px solid #aaa;line-height:32px;">
            <td colspan="4" style="padding-right:10px">تحویل گیرنده</td>
        </tr>
        <tr style="background:#ccc;border :1px solid #bbb;line-height:32px;">
            <td style="padding-right:10px;border-left:1px solid #aaa;width:30%">فروشگاه / شرکت</td>
            <td style="padding-right:10px;border-left:1px solid #aaa;width:30%">مدیریت</td>
            <td style="padding-right:10px;border-left:1px solid #aaa;width:20%">موبایل</td>
            <td style="padding-right:10px;width:20%">تلفن</td>
        </tr>
        <tr style=" border:1px solid #bbb;  line-height:32px;">
            <td style="padding-right:10px;border-left:1px solid #bbb; width:33%">{{order.Company}}</td>
            <td style="padding-right:10px;border-left:1px solid #bbb;width:33%">{{order.CompanyManager}}</td>
            <td style="padding-right:10px;border-left:1px solid #bbb;width:17%">{{order.CompanyMobile}}</td>
            <td style="padding-right:10px;width:17%">{{order.CompanyPhone}}</td>
        </tr>
        <tr style=" border:1px solid #bbb;line-height:32px;">
            <td colspan="4" style="padding:15px 10px 15px 10px;line-height:25px;text-align:center">
                <div style="font-weight:bold">{{order.CompanyLocation}}</div>
                <div style="padding:5px 0 5px 0">کد پستی</div>
                <div style="font-weight:bold;">{{order.CompanyZIPCode}}</div>
            </td>
        </tr>

    </table>

    <table class="table1" style="width:100%;background:white;border:none; margin-top:20px ">
        <tr style="background:#ccc;border :1px solid #aaa;line-height:32px;">
            <td colspan="5" style="padding-right:10px">سفارش</td>
        </tr>
        <tr style="background:#ccc;border :1px solid #bbb;line-height:32px;">
            <td style="padding-right:10px;border-left:1px solid #aaa; ">محصول</td>
            <td style="padding-right:0px;border-left:1px solid #aaa;text-align:center;width:20% ">قیمت واحد (تومان)</td>
            <td style="padding-right:0px;border-left:1px solid #aaa; text-align:center;width:10%">تعداد</td>
            <td style="padding-right:0px;border-left:1px solid #aaa; text-align:center;width:10%">تخفیف (%)</td>
            <td style="padding-right:0px;border-left:1px solid #aaa;text-align:center;width:20% ">مجموع (تومان)</td>

        </tr>
        <tr style=" border:1px solid #bbb;  line-height:32px;" ng-repeat="x in items">
            <td style="padding-right:10px;border-left:1px solid #bbb;  ">{{x.Product}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{x.PriceUnit2}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{x.Quantity2}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{x.DiscountUnit2}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{x.FinalPriceUnit2}}</td>
        </tr>
        <tr style=" border :1px solid #bbb;line-height:32px;border-top-width:2px">
            <td colspan="4" style="padding-left:10px;border-left:1px solid #bbb; text-align:left ">جمع کل محصولات</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{order.TotalAmount2}}</td>
        </tr>
        <tr style=" border :1px solid #bbb;line-height:32px;">
            <td colspan="4" style="padding-left:10px;border-left:1px solid #bbb; text-align:left ">هزینه ارسال</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{order.Transport2}}</td>
        </tr>
        <tr style=" border :1px solid #bbb;line-height:32px;">
            <td colspan="4" style="padding-left:10px;border-left:1px solid #bbb; text-align:left ">جمع کل</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center ">{{order.Final2}}</td>
        </tr>
    </table>

    <table class="table1" style="width:100%;background:white;border:none; margin-top:20px ">
        <tr style="background:#ccc;border :1px solid #aaa;line-height:32px;">
            <td colspan="5" style="padding-right:10px">اطلاعات پرداخت</td>
        </tr>
        <tr style="background:#ccc;border :1px solid #bbb;line-height:32px;">
            <td style="padding-right:10px;border-left:1px solid #aaa;text-align:center; ">تاریخ</td>
            <td style="padding-right:0px;border-left:1px solid #aaa;text-align:center; ">شماره درخواست</td>
            <td style="padding-right:0px;border-left:1px solid #aaa; text-align:center; ">شماره مرجع</td>
            <td style="padding-right:0px;border-left:1px solid #aaa; text-align:center; ">شماره کارت</td>


        </tr>
        <tr style=" border:1px solid #bbb;  line-height:32px;">
            <td style="padding-right:10px;border-left:1px solid #bbb;text-align:center;  ">{{order.payDate}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center;direction:ltr ">{{order.PayConfirmToken}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center;direction:ltr ">{{order.PayDoneRRN}}</td>
            <td style="padding-right:0px;border-left:1px solid #bbb;text-align:center;direction:ltr ">{{order.PayConfirmCardMask}}</td>

        </tr>

    </table>

    <div style="margin-top:30px;padding-top:10px; text-align:center;border-top:1px solid #ccc">شرکت تعاونی رشد رهنمون طوس</div>
    <div style="padding-top:5px;text-align:center">خراسان رضوی مشهد بلوار پیروزی خیابان فرخی جنوبی ۱۸ پلاک ۱۰۰</div>
    <div style="padding-top:5px;font-size:15px;text-align:center">051-33409117</div>



</div>
<div dx-load-panel="loadPanel"></div>
