<style>
    @media (min-width:756px) {
        .style {
            margin: 10px auto 0 auto;
            width: 400px;
            height: 40px;
            color: black;
            display: block;
            border-radius: 8px;
        }
    }

    @media (max-width:756px) {
        .style {
            margin: 10px auto 0 auto
        }
    }

    .dx-placeholder {
        right: 10px !important;
        text-align: right !important;
    }

    .dx-texteditor-input {
        padding: 10px;
    }

    .dx-texteditor-buttons-container {
        right: initial !important;
        left: 10px !important;
    }
</style>



<div class="box home" style="direction:rtl;text-align:right">
    


    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-48 w3-center w3-black" id="home" style="padding-top:20px !important">
            <!--<h1 class="w3-jumbo  hidden-xs"><span style="font-size:60px">GREEN<span style="color:red;font-style:italic;font-size:70px; font-weight:bold; padding:0px 6px 0px 0px">i</span>MAX</span></h1>
            <h1 class="w3-jumbo  hidden-lg hidden-md hidden-sm"><span style="font-size:40px">GREEN<span style="color:red;font-style:italic;font-size:50px; font-weight:bold; padding:0px 6px 0px 0px">i</span>MAX</span></h1>-->
            <h1 class="w3-jumbo  hidden-xs">پروفایل کاربری</h1>
        </header>

        <div class="col-lg-12" style="padding:0 0px 0 20px;text-align:center">
            <div class="w3-content w3-justify w3-text-grey" style="text-align:center !important">
                <div style="width:100%;max-width:350px;margin:0px auto 0 auto;display:inline-block;padding:0px 0 0 0;">
                    <div dx-text-box="txt_Mobile" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_FirstName" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_LastName" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_Company" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_MailCode" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_CodeMeli" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  }"></div>
                    <div dx-text-box="txt_Phone" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-box="txt_Email" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-text-area="txt_Address" class="name" style="background:white; margin-top:7px" dx-validator="{validationGroup:'profileupdate',  validationRules: [{ type: 'required',message:'این فیلد ضروری است'}]}"></div>
                    <div dx-button="btn_save" style="margin-top:10px"></div>
                    <p style="margin-top:30px; margin-bottom:15px; color:white; font-size:30px">تغییر کلمه عبور</p>
                    <div dx-text-box="txt_currentPassword" class="name" style="background:white; margin-top:7px" dx-validator="currentPasswordValidationRules"></div>
                    <div id="password-validation-profile" dx-text-box="txt_Password" class="name" style="background:white; margin-top:7px" dx-validator="passwordValidationRules"></div>
                    <div dx-text-box="txt_ConfirmPassword" class="name" style="background:white; margin-top:7px" dx-validator="confirmPasswordValidationRules"></div>
                    <div dx-button="btn_password" style="margin-top:10px"></div>

                </div>
            </div>

        </div>
        <div style="clear:both"></div>





    </div>

    <div dx-load-panel="loadPanel"></div>

</div>




<!--<div class="box home" style="direction:rtl;text-align:center">-->
<!-- <div dx-text-box="txt_FirstName" dx-validator="{validationGroup:'signup',  validationRules: [{ type: 'required'}]}"></div>-->
<!--<input class="txt-first-name style" placeholder="نام " />
<input class="txt-last-name style" placeholder="نام خانوادگی " />
<input class="txt-company style" placeholder="شرکت " />
<input class="txt-mobile style" placeholder="موبایل" />
<input class="txt-phone style" placeholder="تلفن ثابت " />
<input class="txt-address style" placeholder="آدرس" />
<input class="txt-email style" placeholder="ایمیل" />
<input class="txt-mail-code style" placeholder="کد پستی" />
<input class="txt-meli-code style" placeholder="کد ملی" />
<input class="txt-website style" placeholder="وب سایت" />
<input class="txt-password style" placeholder="رمز" />
<input class="txt-confirmpassword style" placeholder="ورود دوباره رمز" />
<button style="width:100%;height:50px;max-width:350px;overflow:hidden;display:block; margin:20px auto 0 auto;border-radius:8px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">ثبت نام</button>-->
<!--</div>-->
