<style>
    @media (min-width:756px) {
        .style {
            margin: 10px auto 0 auto;
            width: 400px;
            height: 40px;
           color:black;
           display:block;
           border-radius:8px;
           
        }
    }

    @media (max-width:756px) {
        .style {
            margin: 10px auto 0 auto
        }
    }
</style>





<div class="box home"  ng-controller="signupController" style="direction:rtl;text-align:center">
    <input class="txt-first-name style" placeholder="نام " /> 
    <input class="txt-last-name style" placeholder="نام خانوادگی " /> 
    <input class="txt-company style" placeholder="شرکت " /> 
    <input class="txt-mobile style" placeholder="موبایل" /> 
    <input class="txt-phone style" placeholder="تلفن ثابت " /> 
    <input class="txt-address style" placeholder="آدرس" /> 
    <input class="txt-email style" placeholder="ایمیل" /> 
    <input class="txt-mail-code style" placeholder="کد پستی" /> 
    <input class="txt-meli-code style" placeholder="کد ملی" /> 
    <input class="txt-website style" placeholder="وب سایت" /> 
    <input class="txt-password style" placeholder="رمز" /> 
    <input class="txt-confirmpassword style" placeholder="ورود دوباره رمز" /> 
    <button  style="width:100%;height:50px;max-width:350px;overflow:hidden;display:block; margin:20px auto 0 auto;border-radius:8px;text-align:center;padding:10px 0 10px 0;font-size:16px;background:#3cb371;color:white;text-decoration:none;position:relative">ثبت نام</button>
</div>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157458004-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-157458004-2');
</script>


